NODE_ENV=development

GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
EMPLOYEE_SERVICE_PORT=3002
ATTENDANCE_SERVICE_PORT=3003

AUTH_SERVICE_URL=http://localhost:3001
EMPLOYEE_SERVICE_URL=http://localhost:3002

DB_HOST=localhost
DB_PORT=5432
DB_USER=dexa
DB_PASSWORD=dexa_dev_password
DB_NAME=dexa_main
DB_LOGGING=false

SEED_ADMIN_PASSWORD=Admin-Dexa-2026
SEED_EMPLOYEE_PASSWORD=Employee-Dexa-2026